spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/artefacto
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


#  hibernate:
#    ddl-auto: none
  hibernate:
    ddl-auto: update
    show-sql: true

server:
  forward-headers-strategy: framework

springdoc:
  swagger-ui:
    path: /swagger-ui.html


urls:
  encoding: "UTF-8"
  security:
    baseUrl: "http://localhost:8080/api/authorize?"
    sessionId: "sessionId"

app:
  jwtSecret: "secret"
  jwtExpirationInMs: 1728000000
  cors:
    allowedOrigins: "http://localhost:4200"




