<div>
  <div class="pb-2 fs-26 mb-2 fw-bold me-auto color text-center">
    <span><u>{{museum?.name}}</u></span>
  </div>
  <div class="pb-2 fs-18 mb-4 fw-bold me-auto subtitle text-center hand" (click)="openMaps()">
    <a>
    {{museum?.address}}, {{museum?.countryName}}
    </a>
  </div>


  <div class="pt-2 pb-3 light-color fw-bold fs-18">Galleries:</div>


  <div>
    <input class="form-control pb-1 pt-1 mb-4" type="text" [(ngModel)]="searchText"
           (input)="search()" placeholder="Search by name or country" />
  </div>


  <div *ngFor="let gallery of galleries; let i = index" #triggerScrollElement>
    <a class="link"  [routerLink]="[gallery.id]">
      <span class="fw-bold light-color link hand">
        {{gallery.name}}
      </span>
    </a>
  </div>
</div>
<router-outlet></router-outlet>

