<div class="d-flex">
  <div class="p-2 ms-2 fs-22 fw-bold me-auto color">
    <span>Museum List</span>
  </div>


  <div class="af-bg__white af-color__black pb-3 d-flex align-content-center">
    <span class="p-2">Sort by:</span>
<!--    <select class="p-2 af-input" name="filterOptions" id="filterOptions"-->
<!--            [(ngModel)]="this.selectedFilterOption" (change)="this.onSelectedFilterOption()">-->
<!--      <option class="af-color__primary" selected>Newest</option>-->
<!--      <option class="af-color__primary">Popular</option>-->
<!--      <option class="af-color__primary">Tagged</option>-->
<!--    </select>-->
  </div>
  <div *ngFor="let museum of museums; let i = index">
    <div class="horizontal-divider p-2">
      <div #triggerScrollElement class="row">
      </div>
    </div>
  </div>
</div>
