<div>
  <div class="pb-2 fs-22 mb-4 fw-bold me-auto color text-center">
    <span><u>Art Museums</u></span>
  </div>

  <div class="pt-2 pb-3 color">Please select a museum to see its galleries:</div>

  <div>
    <input class="form-control pb-1 pt-1 mb-4" type="text" [(ngModel)]="searchText"
           (input)="search()" placeholder="Search by name or country" />
  </div>


  <div *ngFor="let museum of museums; let i = index" #triggerScrollElement>
    <a class="link"  (click)="seeMuseum(museum)">
<!--      "-->
      <span class="fw-bold light-color link hand">
        {{museum.name}}, {{museum.countryName}}
      </span>
    </a>
  </div>
</div>

