<app-add-comment [artwork] = "artwork" (commentEvent)="postComment($event)"></app-add-comment>
<div *ngIf="comments" class = "comment-section">
  <div *ngFor="let comment of comments; let i = index" #triggerScrollElement >
    <div class = "pb-2 pt-2">
      <div class="row">
        <div class="col-10 col-lg-11">
          <div class="p-2">
              <span class="fw-bold">
                {{comment.userFirstName+' '+comment.userLastName}}
              </span>
            <i class="fas fa-circle af-color__grey-2 fs-10 pb-1"></i>
            <span class="af-color__grey-2">
                {{comment.createdAt | date: 'mediumDate'}}
              </span>
          </div>
          <div class="ps-2">
            <span class="af-color__grey-2">{{comment.text}} </span>

          <span *ngIf="admin || comment.userId == loggedUser.id">
          <button class="float-end delete-button" (click)="deleteComment(comment.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>



