@import 'src/styles/components/buttons';
@import 'src/styles/components/tabs';
@import 'src/styles/components/profile-picture';

.dropdown-toggle::after {
  display: none;
}

.af-link {
  text-decoration: none;
  color: $color-primary;
}
