<div class="container px-5 d-none d-md-block d-lg-block d-xl-block">
  <nav class="navbar">
    <div class="p-2 fs-24 fw-bold me-auto">
      <a class="fw-bold af-link" routerLink="/"><span>Artefacto</span></a>
    </div>

    <div>
      <div class="ms-auto d-flex justify-content-start">
        <button class="af-tabs__link" (click)="onTabSelected(this.navigatedTab.HOME)"
                [ngClass]="{'af-tabs__link--active' : this.currentUrl.includes(navigatedTab.HOME)}">
          Museums
        </button>
        <button class="af-tabs__link" (click)="onTabSelected(this.navigatedTab.RANDOM_ARTWORK)"
                [ngClass]="{'af-tabs__link--active' : this.currentUrl.includes(navigatedTab.RANDOM_ARTWORK)}">
          Art Randomiser
        </button>


        <!--    *ngIf="loggedUser" mai jos-->

        <div ngbDropdown class="align-self-center" placement="bottom-right" display="dynamic">
          <i ngbDropdownToggle class = "fa-solid fa-user hand dropdown-toggle ms-5 me-2 af-tabs__profile"></i>
          <i ngbDropdownToggle class="fa-solid fa-chevron-down hand" id="profileDropdown"></i>
          <div ngbDropdownMenu class="mt-4" aria-labelledby="profileDropdown">
            <a ngbDropdownItem class="fw-bold af-tabs__profile" routerLink="profile"><i
              class="fa fa-fw fa-user me-2 "></i><span>My Profile</span></a>
            <a ngbDropdownItem class="fw-bold af-tabs__profile" routerLink="favourites">
              <i class="fa fa-fw fa-heart me-2"></i><span>Favourites</span></a>
<!--            <a ngbDropdownItem class="fw-bold" routerLink="admin/tags" *hasRoles="['ADMIN']"><i-->
<!--              class="fa fa-tag me-3"></i><span>Tags</span></a>-->
            <a ngbDropdownItem class="fw-bold af-tabs__profile" routerLink="" (click)="signOut()"><i
              class="fa fa-sign-out me-2"></i><span>Log out</span></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="horizontal-divider"></div>
