<section class="pt-5 pb-5">
  <div class="container">
    <div>
      <div class="col-6">
        <h3 class="mb-3 dark-color">Room {{room?.number}}</h3>
      </div>
      <div *ngIf="room?.map">
        <img [src]="room.map" class="rounded w-100 mb-4"/>
      </div>

      <div class="text-right">
        <a class="btn btn-primary mb-3 me-2 mr-1" (click)="next()" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3" (click)="prev()" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
        <div class="text-center">
        <span *ngIf="loggedUser.admin">
          <button (click)="editRoom()" type="button"
                  class="mb-3 edit-btn me-3"><i class="fa fa-edit fa-xs"></i></button>
        </span>
        <span *ngIf="loggedUser.admin" >
          <button (click)="addArtwork()" type="button"
                  class="add-btn mb-2">Add Artwork</button>
        </span>
        </div>
      </div>

      <div>
        <div id="artworkCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active mb-3" *ngIf="artworks[index]">
              <div class="card">
                <img class="card-img-top" alt="Picture" [src]="artworks[index]?.imagePath">
                <div class="card-body">
                  <h4 class="card-title text-center"><i>{{artworks[index]?.title}}</i></h4>
                  <span>
          <button class="float-end favourite-btn" (click)="addFavourite(artworks[index].id)">
            <i *ngIf="!favourite" class="fa-heart fa-regular"></i>
            <i *ngIf="favourite" class="fa-heart fa-solid"></i>
          </button>
                    </span>
                  <div>
                    <i><b>Artist:</b></i> {{artworks[index]?.artistFirstName + " " + artworks[index]?.artistLastName}}
                    <span class="hand read-more-btn" (click)="viewArtistModal()">[View Artist]</span>
                  </div>
                  <div><i><b>Year:</b></i> {{artworks[index]?.year}}</div>
                  <div><i><b>Genre:</b></i> {{artworks[index]?.genreName}}
                  <span class="hand read-more-btn" (click)="viewGenreModal()">[View Genre] </span>
                  </div>
                    <!--                      click to modal-->
                  <div><i><b>Technique:</b></i> {{artworks[index]?.technique}}</div>
                  <div class="card-text"><i><b>Description:</b></i> {{artworks[index]?.description}}</div>
                  <div *ngIf="loggedUser.admin" class="text-center">
                    <button (click)="editArtwork()" type="button"
                            class="add-btn mt-4 mb-2 me-4">Edit Artwork</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span class="fw-bold fs-18 ms-4 mt-3">Comments</span>
    <app-comments [comments]="commentList[index]" [artwork]="artworks[index]"></app-comments>

  </div>
</section>

