<section class="pt-5 pb-5">
  <div class="container">
    <div >
      <div class="col-6">
        <h3 class="mb-3">Room {{room?.id}}</h3>
      </div>

      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 me-2 mr-1" (click)="next()" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " (click)="prev()" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>

      <div>
        <div id="artworkCarousel" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
                <div class="carousel-item active mb-3" *ngIf="artworks[index]">
<!--                     *ngFor="let artwork of artworks; let i = index" [ngClass]="{'active': i == 0 }">-->
                  <div class="card">
                    <img class="card-img-top" alt="Picture" [src]="artworks[index]?.imagePath">
                    <div class="card-body">
                      <h4 class="card-title"><i>{{artworks[index]?.title}}</i></h4>
                      <div> <i><b>Artist:</b></i> {{artworks[index]?.artistFirstName+" "+artworks[index]?.artistLastName}}</div>
<!--                      click to modal-->
                      <div> <i><b>Year:</b></i> {{artworks[index]?.year}}</div>
                      <div> <i><b>Genre:</b></i> {{artworks[index]?.genreName}}</div>
<!--                      click to modal-->
                      <div> <i><b>Technique:</b></i> {{artworks[index]?.technique}}</div>
                      <div class = "card-text"> <i><b>Description:</b></i> {{artworks[index]?.description}}</div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

