<section class="pt-5 pb-5">
  <div class="container">
    <div >
      <div class="col-6">
        <h3 class="mb-3 dark-color">Room {{room?.id}}</h3>
      </div>

      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 me-2 mr-1" (click)="next()" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " (click)="prev()" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>

      <div>
        <div id="artworkCarousel" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
                <div class="carousel-item active mb-3" *ngIf="artworks[index]">
<!--                     *ngFor="let artwork of artworks; let i = index" [ngClass]="{'active': i == 0 }">-->
                  <div class="card">
                    <img class="card-img-top" alt="Picture" [src]="artworks[index]?.imagePath">
                    <div class="card-body">
                      <h4 class="card-title text-center"><i>{{artworks[index]?.title}}</i></h4>
                      <div > <i><b>Artist:</b></i> {{artworks[index]?.artistFirstName+" "+artworks[index]?.artistLastName}}
<!--                      click to modal-->
                      <span class="hand read-more-btn" (click)="viewArtistModal()">[View Artist]</span>
                      </div>
                      <div> <i><b>Year:</b></i> {{artworks[index]?.year}}</div>
                      <div> <i><b>Genre:</b></i> {{artworks[index]?.genreName}}</div>
<!--                      click to modal-->
                      <div> <i><b>Technique:</b></i> {{artworks[index]?.technique}}</div>
                      <div class = "card-text"> <i><b>Description:</b></i> {{artworks[index]?.description}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div *ngIf="commentList[index]" class = "comment-section ms-3 mt-3">
      <span class="fw-bold fs-18 ms-4">Comments</span>
      <div *ngFor="let comment of commentList[index]; let i = index" #triggerScrollElement >
        <div class = "pb-2 pt-2">
          <div class="row">
            <div class="col-10 col-lg-11">
              <div class="p-2">
              <span class="fw-bold">
                <i class="fas fa-circle mh-color__grey-2 fs-10 pb-1" ></i>
                {{comment?.userFirstName+' '+comment?.userLastName}}
              </span>
                <span class="mh-color__grey-2">
                {{comment.createTimestamp | date: 'mediumDate'}}
              </span>
              </div>
              <div class="ps-2">
                <span class="mh-color__grey-2">{{comment.text}} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <button type="submit" class="mh-btn mh-btn&#45;&#45;secondary mt-3 ms-5 mb-3" *ngIf="show < childComments.length" (click)="increaseShow()">Show more</button>-->
      <!--  <app-add-comment [item] = "item"></app-add-comment>-->
    </div>



  </div>
</section>

