@import "src/styles/components/general";
@import 'src/styles/components/inputs';
@import 'src/styles/variables';
@import 'src/styles/components/buttons';
@import "src/styles.scss";

.read-more-btn {
  display: contents;
  color: $color-primary-3;
}

.favourite-btn {
    border-radius: 80%;
    background-color: $color-primary;
    border: none;
    color: white;
    cursor: pointer;
}
